In [2]:
import numpy as np 
import pandas as pd

In [3]:
import re

In [4]:
s='foo123bar'
'123' in s

True

In [5]:
s = 'foo123bar'

print(s.find('123'))
print(s.index('123'))

3
3

In [6]:
s = 'foo 123 ba3 4xa wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()
s

['foo',
 '123',
 'ba3',
 '4xa',
 'wut',
 '#666',
 'or134ge',
 'ap&ple',
 '@colby',
 '#123',
 'Michael',
 'Jx1']

In [7]:
s = 'foo 123 ba3 4xa wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('123', w):
        print w

123
#123

In [8]:
s = 'foo 123 ba3 4xa wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()
for w in s:
    if re.search('[0-9][0-9][0-9]', w):
        print w

123
#666
or134ge
#123

In [9]:
s = 'foo 123 ba3 4xa wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('[0-9][a-z][a-z]', w):
        print w

4xa
or134ge

In [10]:
s = 'foo 123 ba3 4xa wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('[A-Z][a-z][0-9]', w):
        print w

Jx1

In [11]:
# the dot (.) metacharacter matches any character 
# except a newline, so it functions like a wildcard

s = 'foo 123 ba3 4xa wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('..t', w):
        print w

wut

In [12]:
s = 'foo 123 ba3 4xa wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('.a.', w):
        print w

ba3
Michael

In [13]:
# the character (^) 
# ∙ Anchors a match at the start of a string
# ∙ Complements a character class
s = 'foo 123 ba3 4xa wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('^.a.', w):
        print w

ba3

In [14]:
# the character ($) 
# ∙ Anchors a match at the end of a string
s = 'foo 123 ba3 4xa ae4 wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('.e.$', w):
        print w

ae4
Michael

In [15]:
# the character (*) 
# Matches zero or more repetitions
s = 'foo 123 ba3 4xa ae4 wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('col*', w):
        print w

@colby

In [16]:
# the character (+) 
# Matches zero or more repetitions
s = 'foo 123 ba3 4xa ae4 wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('f+', w):
        print w

foo

In [17]:
# [] Specifies a character class
s = 'foo feo fxo 123 ba3 4xa ae4 wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('f[oaex]', w):
        print w
    
print ('###')

for w in s:
    if re.search('f[a-z]', w):
        print w

foo
feo
fxo
###
foo
feo
fxo

In [18]:
s = 'foo feo fxo 123 ba3 4xa ae4 wut #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('[0-90-9]', w): # this is similar to '[0-9]'
        print w

123
ba3
4xa
ae4
#666
or134ge
#123
Jx1

In [19]:
s = 'foo feo fxo 123 ba3 4xa ae4 w-t #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

for w in s:
    if re.search('[w\-t]', w): # 
        print w

w-t

In [20]:
for w in s:
    if re.search('[\w]', w): # this is similar to [a-zA-Z0-9_]
        print w

foo
feo
fxo
123
ba3
4xa
ae4
w-t
#666
or134ge
ap&ple
@colby
#123
Michael
Jx1

In [21]:
for w in s:
    if re.search('[\W]', w): # this is similar to [^a-zA-Z0-9_]
        print w

w-t
#666
ap&ple
@colby
#123

In [22]:
s = 'foo feo fxo 123 ba3 4xa ae4 w-t #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

# \d matches any decimal digit character. 
# \D is the opposite. It matches any character 
# that isn’t a decimal digit:
    
for w in s:
    if re.search('[\d]', w): # 
        print w

123
ba3
4xa
ae4
#666
or134ge
#123
Jx1

In [23]:
for w in s:
    if re.search('[\D]', w): # 
        print w

foo
feo
fxo
ba3
4xa
ae4
w-t
#666
or134ge
ap&ple
@colby
#123
Michael
Jx1

In [24]:
s = 'foo feo fxo 123 ba3 4xa ae4 w-t #666 or134ge ap&ple @colby \
#123 Michael Jx1'
s = s.split()

# \s matches any whitespace character:
# \S is the opposite of \s
    
for w in s:
    if re.search('\s', w): # 
        print w

In [25]:
for w in s:
    if re.search('[\w][\d][\d]', w): # 
        print w

123
#666
or134ge
#123

In [26]:
for w in s:
    if re.search('[\w][0-9][0-9]', w): # 
        print w

123
#666
or134ge
#123

In [27]:
s = 'foo feo fxo 123 ba3 4xa ae4 w-t #666'
s = s.split()
# [\d\w\s] matches any digit, word, or whitespace character
for w in s:
    if re.search('[\d\w\s]', w): # 
        print w

foo
feo
fxo
123
ba3
4xa
ae4
w-t
#666

In [28]:
import re
text12  = 'ouagadougou'

print re.findall(r'[aeiou]', text12)

re.findall(r'[^aeiou]', text12)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

['g', 'd', 'g']

# Regular expression for dates

# Working with Text Data in pandas

In [29]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [30]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [31]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [32]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [33]:
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [34]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [35]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [36]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [37]:
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [38]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [39]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [40]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [41]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [42]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am